<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--视频显示类型配置，orignal为原始监控内容; huo_chai_ren为火柴人图像; huochai_and_origin为火柴人加原始图像显示-->
    <!--<add key="video_type" value="orignal" />-->
    <add key="video_type" value="huochai_and_origin" />
    <!--add key="video_type" value="huo_chai_ren" /-->
    <add key="TcpServerIp" value="175.27.154.180" />
    <!--本地服务地址-->
    <add key="GetRoomInfoUrl" value="http://154.8.225.243/age/roominfoes" />
    <add key="GetAgedsUrl" value="http://154.8.225.243/age/AgesInfoes" />
    <add key="GetPoseInfoesUrl" value="http://154.8.225.243/age/PoseInfoes" />
    <add key="GetServerInfoUrl" value="http://154.8.225.243/age/ServerInfoes" />
    <add key="GetCameraInfoUrl" value="http://154.8.225.243/age/CameraInfoes" />
    <add key="GetUserInfoUrl" value="http://154.8.225.243/age/UserInfoes" />

    <add key="GetPoseInfoByRoomUrl" value="http://154.8.225.243/age/poseinfoes/GetPoseInfoByRoomId" />
    <add key="GetPoseInfoUrl" value="http://154.8.225.243/age/poseinfoes/getposeinfotoday" />
    <add key="GetDetailPoseInfoUrl" value="http://154.8.225.243/age/DetailPoseInfoes/GetDetailPoseInfosByDay" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>