<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--本地服务地址-->
    <!--add key="GetAgedsUrl" value="https://localhost:44358/api/AgesInfoes"/>
    <add key="GetPoseInfoUrl" value="https://localhost:44358/api/PoseInfoes"/>
    <add key="GetRoomInfoUrl" value="https://localhost:44358/api/RoomInfoes"/-->
    <!--云服务地址-->
    <add key="GetAgedsUrl" value="http://154.8.225.243/api/AgesInfoes"/>
    <add key="GetPoseInfoUrl" value="http://154.8.225.243/api/PoseInfoes"/>
    <add key="GetRoomInfoUrl" value="http://154.8.225.243/api/RoomInfoes"/>
  </appSettings>
</configuration>
