<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="GetAgedsUrl" value="https://localhost:44358/api/AgesInfoes"/>
    <add key="GetPoseInfoUrl" value="https://localhost:44358/api/PoseInfoes"/>
  </appSettings>
</configuration>
